
QWidget {
    background-color: #262626;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

QSlider {
    background-color: #1e1e1e;
}

QMenuBar, QMenu {
    border: none;
}

QMenuBar::item:selected, QMenuBar::item:hover {
    background-color: transparent;
}

QMenu::item:selected, QMenu::item:hover {
    background-color: transparent;
}

ImageArea {
    border: none;
}
